html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  cursor: default;
}

button {
  cursor: pointer;
}

input,
textarea {
  cursor: text;
}

#container {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #CEDCFF;
  border-left: solid 2px black;
}

#arrow {
  position: absolute;
  top: 0;
  right: 1vw;
  font-size: 2vw;
  cursor: pointer;
}

.arrow_up {
  animation: arrowUp .5s 1 forwards;
}

@keyframes arrowUp {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

.arrow_down {
  animation: arrowDown .5s 1 forwards;
}

@keyframes arrowDown {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#scale_text {
  font-size: 2.5vw;
  font-weight: bold;
  position: absolute;
  top: 2vw;
  left: 4vw;
}

#scale {
  background: transparent;
  border: transparent;
  border-bottom: .2vw solid black;
  width: 4vw;
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  top: 2vw;
  left: 12vw;
  text-align: center;
}

#graph_page {
  position: absolute;
  top: 2vw;
  left: 18vw;
  width: 3vw;
  font-size: 2vw;
  background-color: #39fe39;
  border-radius: .5vw;
  border: .2vw solid black;
}

#graph_page:active {
  background-color: transparent;
}

#cursor_cordinates_text {
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  top: 6vw;
  left: 1vw;
}

.cursor_cordinates {
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  background: transparent;
  border: transparent;
  border-bottom: .2vw solid black;
  width: 4vw;
  height: 1.5vw;
  position: absolute;
  top: 6.5vw;
  cursor: default;
}

#cursor_x_cordinate {
  left: 9vw;
}

#cursor_cordinate_comma {
  font-size: 2.5vw;
  font-weight: bold;
  position: absolute;
  top: 6vw;
  left: 14vw;
}

#cursor_y_cordinate {
  left: 15vw;
}

#cursor_cordinates_unit_text {
  font-size: 1.5vw;
  font-weight: bold;
  position: absolute;
  top: 7vw;
  right: .5vw;
}

#graph_details_text {
  font-size: 2.5vw;
  font-weight: bold;
  position: absolute;
  top: 10vw;
  left: 4vw;
}

#graph_details_conatiner {
  position: absolute;
  top: 13vw;
  left: 0.2vw;
  border: 0.3vw solid black;
  border-radius: 2vw;
  width: 24vw;
  height: 60vh;
}

#function_name {
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  top: 1vw;
  left: 0vw;
}

#function {
  background: transparent;
  border-color: #CEDCFF;
  border-bottom: 0.2vw solid black;
  position: absolute;
  top: 1.5vw;
  left: 5vw;
  font-size: 1vw;
  font-weight: bold;
  width: 17vw;
  height: 1vw;
}

#domain_name_text {
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  top: 5vw;
  left: 0vw;
}

.bracket {
  font-size: 5vw;
  font-weight: bold;
  position: absolute;
  top: 8vw;
}

#bracket_open {
  left: 0vw;
}

#bracket_close {
  right: 0vw;
}

#coma {
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  top: 10vw;
  left: 11.5vw;
}

.domain {
  position: absolute;
  top: 9vw;
  font-size: 2vw;
  font-weight: bold;
  width: 8vw;
  height: 4vw;
  background: transparent;
  border: transparent;
  border-bottom: 0.2vw solid black;
  text-align: center;
}

#domain_start {
  left: 2vw;
}

#domain_end {
  right: 2vw;
}

#rate_text {
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  top: 16vw;
  left: 0vw;
}

#rate {
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  top: 17vw;
  left: 9vw;
  background: transparent;
  border: transparent;
  border-bottom: 0.2vw solid black;
  width: 7vw;
  text-align: center;
}

#rate_describe_button {
  position: absolute;
  top: 18vw;
  left: 17vw;
  background-color: #fbcf32;
  font-size: 1vw;
  font-weight: bold;
  border-radius: .9vw;
  border: 0.2vw solid black;
  width: 1.5vw;
}

#rate_describe_button:active {
  background-color: transparent;
}

#rate_descriptive_container {
  position: absolute;
  top: 20vw;
  left: 14vw;
  background-color: #ffe871;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  border-radius: 1vw;
  animation: rate_dec .2s 1 forwards;
}

@keyframes rate_dec {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

#colot_text {
  font-size: 2.5vw;
  font-weight: bold;
  position: absolute;
  top: 22vw;
  left: 0vw;
}

#locus_color {
  position: absolute;
  top: 22vw;
  left: 17vw;
  border: none;
  width: 3vw;
  height: 3vw;
}

#default {
  position: absolute;
  top: 26vw;
  right: 1vw;
  font-size: 1.5vw;
  font-weight: bold;
  width: 8vw;
  border: 0.1vw solid black;
  border-radius: 1vw;
  background-color: #80b5ff;
}

#default:active {
  background-color: transparent;
}

#plot {
  font-size: 1.5vw;
  font-weight: bold;
  width: 7vw;
  height: 3vw;
  position: absolute;
  top: 43vw;
  left: 9vw;
  border-radius: 2vw;
  border: 0.2vw solid black;
  background-color: #69ff66;
}

#plot:active {
  background-color: transparent;
}

#function_log {
  width: 24.5vw;
  height: 0vh;
  background-color: #87a9ff;
  position: absolute;
  top: 0vw;
  right: 0vw;
  border-radius: 0 0 2vw 2vw;
  font-size: 1vw;
  font-weight: bold;
  color: #000000;
  cursor: default;
}

.function_log_appear {
  animation: logAppear .5s 1 forwards;
}

@keyframes logAppear {
  0% {
    heigth: 0vh;
  }

  100% {
    height: 94vh;
  }
}

.function_log_disappear {
  animation: logDisappear 1s 1 forwards;
}

@keyframes logDisappear {
  0% {
    height: 94vh;
  }

  100% {
    height: 0vh;
  }
}

#clear_log {
  position: absolute;
  bottom: 1vh;
  right: 0vw;
  font-size: 1vw;
  font-weight: bold;
  width: 6vw;
  height: 4vh;
  border: none;
  background-color: #ff7272;
  border-radius: 1vw;
  display: none;
}

.button_appear {
  animation: buttonAppear .5s 1 forwards;
}

@keyframes buttonAppear {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.button_disappear {
  animation: buttonDisappear .5s 1 forwards;
}

@keyframes buttonDisappear {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

#more_option_symbol {
  position: absolute;
  top: -1vw;
  left: 75vw;
  font-size: 4vw;
  color: #000000;
  background: none;
  border: none;
}

#more_option_container {
  position: absolute;
  top: -11vw;
  left: 75vw;
  background-color: rgb(0 0 0 / 64%);
  height: 11vw;
  width: 12vw;
  border-radius: 0 0 2vw 2vw;
}

.more_option_appear {
  animation: more_optionAppear .2s 1 forwards;
}

@keyframes more_optionAppear {
  0% {
    top: -11vw;
  }

  100% {
    top: 0vw;
    ;
  }
}

.more_option_disappear {
  animation: more_optionDisappear .2s 1 forwards;
}

@keyframes more_optionDisappear {
  0% {
    top: 0vw
  }

  100% {
    top: -11vw;
  }
}

#theme_text {
  font-size: 2vw;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 3vw;
  left: 1vw;
  border-bottom: 0.2vw solid #000000;
}

#theme {
  position: absolute;
  top: 3vw;
  left: 9vw;
  width: 2vw;
  height: 2vw;
  border-radius: 1vw;
  border: 0.2vw solid;
}

#detail_graph {
  position: absolute;
  top: 7vw;
  left: 1vw;
  font-size: 2vw;
  font-weight: bold;
  background: none;
  border: none;
  border-bottom: 0.2vw solid #000000;
  color: #ffffff;
}